---
import Layout from "../layouts/layout.astro";
---
<Layout
title="Collaborators | Accessibility Research Lab | Western Washington University">

<!-- Here's where the main element starts in Astro world. -->
<div class="page-content">
  <div class="region-wrapper max-width--content--sm">
    <h1>Collaborators</h1>    
    <h2>Collaborating For Humanity</h2>
    
    <p>Collaboration is the key to successfully solving complicated problems. The accessibility research lab will help coordinate the projects involved as we work towards our mission of equitable access to education.</p>
  </div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</Layout>