---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Collaborators | Accessibility Research Lab | Western Washington University">

  <div class="page-content">
    <div class="region-wrapper">
        <h1>Collaborators</h1>
        <h2>Higher Education Partners</h2>
        <p>Western Washington University and the Accessible Research Lab have joined with colleges and universities from around the world in our mission to make technology more accessible.</p>

        <h2>WWU Partners</h2>
        <p>Departments and offices all over campus have pledged to help create a more accessible Western community:</p>
        <ul>
            <li>Academic Technology and User Services (ATUS) - <a href="John.Farquhar@wwu.edu">John Farquhar</a>, Director</li>
            <li>Web Communication Technologies - <a href="bronsem@wwu.edu">Max Bronsema</a>, Director</li>
            <li>Ershig Assistive Technology Resource Center at the Woodring College of Education - <a href="Natalie.Newman@wwu.edu">Natalie Newman</a>, Director, Director</li>
            <li>Disability Access Center - <a href="mogharj@wwu.edu">Josef Mogharreban</a>, Director & Deputy ADA Coordinator</li>
            <li>Western Libraries - <a href="bassd2@wwu.edu">David Bass</a>, Sr. Developer for Digital Initiatives</li>
            <li>English Department - <a href="Nicole.Brown@wwu.edu">Nicole Brown</a>, Associate Professor</li>
            <li>Computer Science Department - <a href="yasmine.elglaly@wwu.edu">Dr. Yasmine Elglaly </a>and <a href="oharad@wwu.edu">Dr. Dustin O'Hara, </a>Co-Directors of the Accessible Research Lab</li>
        </ul>

        <h2>Community Partners</h2>
        <p>The ARL appreciates the dedicated support of its local partners, including:</p>
        <ul>
            <li>City of Bellingham</li>
            <li>Whatcom County Accessible Voting Advisory Committee</li>
            <li>Bellingham Public Schools</li>
        </ul>
    </div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>