---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Collaborators | Accessibility Research Lab | Western Washington University">

  <div class="page-content">
    <div class="region-wrapper">
        <h1 class="page-title">
            <span>Collaborators</span>
          </h1>
          
          <div about="/collaborators" class="node--type-page node--view-mode-full">
            <div>
              <div class="layout layout--onecol">
                <div class="layout__region layout__region--content">
                  <div class="block block--basic">
                    <h2 class="title">Higher Education Partners</h2>
                    <div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
                      <p>Western Washington University and the Accessible Research Lab have joined with colleges and universities from around the world in our mission to make technology more accessible.</p>
                    </div>
                  </div>
                  <div class="block block--basic">
                    <h2 class="title">WWU Partners</h2>
                    <div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
                      <p>Departments and offices all over campus have pledged to help create a more accessible Western community:</p>
                      <ul>
                        <li>Academic Technology and User Services (ATUS) - <a href="mailto:John.Farquhar@wwu.edu">John Farquhar</a>, Director </li>
                        <li>Web Communication Technologies - <a href="mailto:bronsem@wwu.edu">Max Bronsema</a>, Director </li>
                        <li>Ershig Assistive Technology Resource Center at the Woodring College of Education - <a href="mailto:Natalie.Newman@wwu.edu">Natalie Newman</a>, Director </li>
                        <li>Disability Access Center - <a href="mailto:mogharj@wwu.edu">Josef Mogharreban</a>, Director &amp; Deputy ADA Coordinator</li>
                        <li>Western Libraries - <a href="mailto:bassd2@wwu.edu">David Bass</a>, Sr. Developer for Digital Initiatives </li>
                        <li>English Department - <a href="mailto:Nicole.Brown@wwu.edu">Nicole Brown</a>, Associate Professor </li>
                        <li>Computer Science Department - <a href="mailto:yasmine.elglaly@wwu.edu">Dr. Yasmine Elglaly</a> and <a href="mailto:oharad@wwu.edu">Dr. Dustin O’Hara</a>, Co-Directors of the Accessible Research Lab </li>
                      </ul>
                    </div>
                  </div>
                  <div class="block block--basic">
                    <h2 class="title">Community Partners</h2>
                    <div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
                      <p>The ARL appreciates the dedicated support of its local partners, including: </p>
                      <ul>
                        <li>City of Bellingham </li>
                        <li>Whatcom County Accessible Voting Advisory Committee </li>
                        <li>Bellingham Public Schools </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
    </div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>