---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Contact Us | Accessibility Research Lab | Western Washington University">

  <!-- main content starts here -->
 
	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Contact Us</h1>
			<div class="layout--onecol">
				<div class="layout__region">
					<h2>Contact the Accessibility Research Lab</h2>
					<p>We are attempting to find the most efficient method of communication; we'll figure it out. Ideas, please share them! Best contact opportunity currently is <a href="mailto:engebrd2@wwu.edu">David Engebretson</a>

					</p>
			</div>
		</div> <!-- end region-wrapper -->
	</div> <!-- end page-content -->

</layout>