---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Contact Us | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Contact Us</h1>
			<div class="layout--onecol">
				<div class="layout__region">
					<h2>Contact the Accessibility Research Lab</h2>
					<div class="block block--webform-block">



						<form class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form webform-submission-contact-node-10-form webform-submission-contact-node-10-add-form js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-contact-node-10-add-form" action="/contact-us" method="post" id="webform-submission-contact-node-10-add-form" accept-charset="UTF-8" data-once="form-updated webform-details-toggle" data-drupal-form-fields="edit-name,edit-email,edit-subject,edit-message,edit-actions-submit,edit-url">




							<p class="double-margin--bottom webform-required-text">
								<em>Required fields are marked with an asterisk (*).</em>
							</p>


							<div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name textfield">
								<label for="edit-name" class="js-form-required form-required">Your Name</label>


								<input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true">

							</div>

							<div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email email">
								<label for="edit-email" class="js-form-required form-required">Your Email</label>


								<input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">

							</div>

							<div class="js-form-item form-item js-form-type-textfield form-item-subject js-form-item-subject textfield">
								<label for="edit-subject" class="js-form-required form-required">Subject</label>


								<input data-drupal-selector="edit-subject" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true">

							</div>

							<div class="js-form-item form-item js-form-type-textarea form-item-message js-form-item-message textarea">
								<label for="edit-message" class="js-form-required form-required">Message</label>
								<div>
									<textarea data-drupal-selector="edit-message" id="edit-message" name="message" rows="5" cols="60" class="form-textarea required" required="required" aria-required="true"></textarea>
								</div>

							</div>
							<div data-drupal-selector="edit-actions" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions">

								<input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit" name="op" value="Send message">

							</div>


							<input autocomplete="off" data-drupal-selector="form-5elcgystakjt032lwfmndaob7rir9lmjipi0z3os6y4" type="hidden" name="form_build_id" value="form-5ElcgYSTAKjT032lWFmNDAOB7Rir9LMjIPI0Z3OS6y4">


							<input data-drupal-selector="edit-webform-submission-contact-node-10-add-form" type="hidden" name="form_id" value="webform_submission_contact_node_10_add_form">
							<div class="url-textfield js-form-wrapper form-wrapper" style="display: none !important;">
								<div class="js-form-item form-item js-form-type-textfield form-item-url js-form-item-url textfield">
									<label for="edit-url">Leave this field blank</label>


									<input autocomplete="off" data-drupal-selector="edit-url" type="text" id="edit-url" name="url" value="" size="20" maxlength="128" class="form-text">

								</div>
							</div>




						</form>

					</div>
					<h2>Co-Founders</h2>
					<p> Our founders and colleagues over the years have helped us become a tightly knit group of colleagues who inspire exceptional faculty, staff, and students to help us work on projects that benefit all humans</p>
					<h3>Yasmine Elglally</h3>
					<h3><a href="https://wwu.edu/engebrd2">David Engebretson Jr</a></h3>
					<h3>Dustin O'Hara</h3>
					<h2>Our colleagues!</h2>
					<h3>Students</h3>
					<h3>Faculty</h3>
					<h3>Staff</h3>
				</div>
			</div>
		</div> <!-- end region-wrapper -->
	</div> <!-- end page-content -->

</layout>