---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Contact Us | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Accessibility Research Lab (ARL) Contact Us</h1>
		<h2>Co-Founders</h2>
		<p> Our founders and colleagues over the years have helped us become a tightly knit group of colleagues who inspire exceptional faculty, staff, and students to help us work on projects that benefit all humans</p>
<h3>Yasmine Elglally</h3>
<h3><a href="https://wwu.edu/engebrd2">David Engebretson Jr</a></h3>
<h3>Dustin O'Hara</h3>

		<h2>Our colleagues!</h2>
<h3>Students</h3>
<h3>Faculty</h3>
<h3>Staff</h3>

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>