---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Current Projects | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Current Projects</h1>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				<div class="layout__region layout__region--first">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Paving the Pathway</h2>
						<p>A hub for surveys and interviews regarding the importance of collaboratively building awareness for the importance of implementing accessible design principles across all Western Washington University departments and divisions. These surveys and interviews inform faculty, staff, administration, and students of current accessibility issues at Western. The intent is to best define how to systemically fix the issues that are of utmost importancce to all stakeholders, and most importantly focusing on sustaining a thriving group of prospective graduates. Student success is number 1. 

						</p>
					</div>
				</div>
				<div class="layout__region layout__region--second">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Accessible Food Vendor Menus</h2>
						<p>
							Every person in the world has something in common; we all (and need) to eat. Find out more about WayAround NFC tags and QR codes which ensure all people, no matter their ability, can access food vendor menus on campus.
						</p>
					</div>
				</div>
			</div>
			<div class="vertical-space--2x"></div>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				


						<h2 class="text-align-center">Empathy Machine</h2>
						<p>The Empathy Machine is designed to be a strong motivator to act on behalf of others. The Empathy Machine project is in partnership with WebAIM and Western Washington University faculty, staff, and students. The Empathy Machine project intends to instigate the need for the improvement of automated accessibility checkers.

						</p>
					</div>
				</div>
				<div class="layout__region layout	__region--fourth">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Accessible Video Editor (dAVidE)</h2>
						<p>
							Find out more about the WCAG (Web Content Accessibility Guidelines) conformant web app that will allow everyone on any operating system, on any platform, edit videos with equity.

						</p>


						<p>*Link to dAVidE Github Repository</p>
					</div>
				</div>
			</div>
			

			<div class="layout__region layout__region--fifth">
				<div class="blue-bg standard-padding standard-margin--bottom full-height">
					<h2 class="text-align-center">Descriptive Alt Text Generator (DATG)</h2>
					<p>
						The DATG aims to help all alt text designers learn how to create more effective alt text with AI and human intervention as a supplement to creating accurate image recognition models.	</p>


					<p>*Link to DATG Github Repository</p>
				</div>
			</div>

			<div class="layout__region layout__region--second">
				<div class="blue-bg standard-padding standard-margin--bottom full-height">
					<h2 class="text-align-center">Efficient Accessibility Review Tool (EART)</h2>
					<p>
						The EART allows an interested person to scrape a webpage for heading structure, alt text, and much more. It's a valuable tool for an efficient look at the basic WCAG conformance of a webpage. No guidelines given. Just a look at the components on the page, and their current status.
						Also, It will hopefully reduce the need for wrist surgery from all of this typing and repetitive motion I do. <smile></smile>

					</p>


					<p>*Link to the EART Github Repository</p>
				</div>
			</div>

			<h2>Commentary</h2>
<h3>Comments/Ideas?</h3>
<p> Let us know what you think we should be doing in the accessibility research lab. We're always intrigued to take on new challenges.</p>


		</div> <!-- end region-wrapper --
</Layout>
