---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Current Projects | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Current Projects</h1>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				<div class="layout__region layout__region--first">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Paving the Pathway</h2>
						<p>A hub for surveys and interviews regarding the importance of collaboratively building awareness for the importance of implementing accessible design principles across all Western Washington University departments and divisions. These surveys and interviews inform faculty, staff, administration, and students of current accessibility issues at Western, and how to systemically fix the issues. </p>
					</div>
				</div>
				<div class="layout__region layout__region--second">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Accessible Food Vendor Menus</h2>
						<p>Every person in the world has something in common; we all like to eat. Find out more about WayAround NFC tags and QR codes which ensure all people, no matter their ability, can access food vendor menus on campus.</p>
					</div>

				</div>
			</div>
			<div class="vertical-space--2x"></div>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				<div class="layout__region layout__region--first">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Empathy Machine</h2>
						<p>Empathy is the strongest motivator to act on behalf of others. The Empathy Machine project is in partnership with WebAIM and Western Washington University faculty, departments, staff, and students. The Empathy Machine project instigates the improvement of automated accessibility checkers.</p>
					</div>
				</div>
				<div class="layout__region layout__region--second">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Accessible Video Editor</h2>
						<p>Find out more about the WCAG (Web Content Accessibility Guidelines) compliant web app that will allow everyone on any operating system to edit videos.</p>
						<p>*Link to Github Repository</p>
					</div>
				</div>
			</div>
			<div class="vertical-space--2x"></div>
		</div> <!-- end region-wrapper -->
	</div> <!-- end page-content -->
</layout>