---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Current Projects | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Accessibility Research Lab (ARL) Current Projects</h1>
<h2>ARL Current Projects Include:</h2>
<ul>
<li>ARL</li>
<li>AVE</li>
<li>Accessible Maps</li>
<li>DATG</li>
<li>Sound Map</li>

</ul>


</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>