---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Future Projects | Accessibility Research Lab | Western Washington University">

  <!-- beginning of the main element. it's included in Layout.astro -->
 
	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Future Projects</h1>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				<div class="layout__region layout__region--first">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">

<!-- the inline CSS drives me bonkers during a review. -->
 

						<h2 class="text-align-center">Accessible Drafting</h2>
						<p>3D is for more than just movies. The ARL is planning to partner with the engineering and Computer Science departments to utilize 3D printers as input devices for computer aided drafting programs. We’ll use haptics (technology designed around the sense of touch) and audio queues for boundary alerts so that a blind drafter can create drawings with precision and accuracy. </p>
					</div>
				</div>
				<div class="layout__region layout__region--second">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Fully Accessible Maps</h2>
						<p>We at ARL would like to help create a fully accessible digital map of Western’s campus so that it can be navigated with greater ease, confidence, and precision. This project will focus on multi-modal design. This project promotes student mobility, safety, and success. </p>
						<p>Note that many of our Current Projects at the ARL are focusing on baby chuncks of this very large project.</p>
					</div>
				</div>
			</div>
			<div class="vertical-space--2x"></div>
			<div class="layout--twocol-section layout--twocol-section--50-50">
				<div class="layout__region layout__region--first">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Fully Accessible Virtual Tour</h2>
						<p>The ARL plans to help create a fully accessible virtual tour of campus so that all Western departments and divisions can promote the features that our campus has to offer. Multi-modal methods of communication designed with accessibility in mind will be used during the production process.

							The virtual tour should be closely tied into the accessible map project.

							</p>
						</div>
				</div>				<div class="layout__region layout__region--second">
					<div class="blue-bg standard-padding standard-margin--bottom full-height">
						<h2 class="text-align-center">Accessible XR</h2>
						<h3>The Arl wants to help create accessible XR for all humans.</h3>
						<p>XR incorporated with AI is the wave of the future.
I think that really, it's the wave of now.
						</p>


					</div>
				</div>
			</div>
			

		</div> <!-- end region-wrapper -->
	</div> <!-- end page-content -->

</layout>