---
import Layout from "../layouts/layout.astro";
---
<Layout
title="Future Projects | Accessibility Research Lab | Western Washington University">

<!-- beginning of the main element. it's included in Layout.astro -->

<div class="page-content">
	<div class="region-wrapper">
		<h1 class="page-title">Future ARL Projects</h1>	
		
		<div class="grid-column-count--2">
			<div class="wwu-card lightest-blue-bg standard-padding">
				<h2 class="title">Accessible Drafting</h2>
				
				<div class="body">
					<p>3D is for more than just movies. The ARL is planning to partner with the engineering and Computer Science departments to utilize 3D printers as input devices for computer aided drafting programs. We’ll use haptics (technology designed around the sense of touch) and audio queues for boundary alerts so that a blind drafter can create drawings with precision and accuracy. </p>
				</div>
			</div>
			
			<div class="wwu-card lightest-blue-bg standard-padding">
				<h2 class="title">Fully Accessible Maps</h2>
				
				<div class="body">
					<p>We at ARL would like to help form and foster a fully accessible digital map of Western’s campus so that the map can be navigated with greater ease, confidence, safety, and precision. This project will focus on multi-modal design. This project promotes student mobility, safety, and success. </p>
					<p>Note that many of our Current Projects at the ARL are focusing on baby chuncks of this very large project.</p>
				</div>
			</div>
			
			<div class="wwu-card lightest-blue-bg standard-padding">
				<h2 class="title">Fully Accessible Virtual Tour</h2>
				
				<div class="body">
					<p>The ARL plans to help innovate a fully accessible virtual tour of campus so that all Western departments and divisions can promote the features that our campus has to offer. Multi-modal methods of communication designed with accessibility in mind will be used during the production process.</p>
					<h3>Tie In:</h3>
					<p>The virtual tour design and implementation should be closely tied into the accessible map project.</p>
					
				</div>
			</div>
			
			<div class="wwu-card lightest-blue-bg standard-padding">
				<h2 class="title">Accessible XR</h2>
				
				<div class="body">
					<h3>The Arl wants to help create accessible XR for all humans with equity at the core.</h3>
					<p>XR incorporated with AI is the wave of the future.
						I think that really, it's the wave of now.
						<h4>
							Note!							
						</h4>
						We should be researching this type of technology now so we aren't hit with a big influx of questions that we can't answer in the future.
					</p>
				</div>
			</div>
		</div>
		
	</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>