---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Future Projects | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Accessibility Research Lab (ARL) Future Projects</h1>
		<h2>Future Projects</h2>
		<p>We are always thinking of new ideas, and methods of creating fully inclusive projects with faculty, staff, and students across campus. Please participate with all you can!</p>
<h3>Sounds for the Deaf</h3>
<h3>Drawing for the Blind</h3>
<h3>Haptecs for the paralyzed</h3>
<h3>Increased Cognition through AI</h3>

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>