---
import Layout from "../layouts/layout.astro";
---

<Layout
  title="Home | Accessibility Research Lab | Western Washington University">

  <!-- beginning of the main element here according to layout.astro -->
   
  <div class="page-content">
    <div class="region-wrapper">

      <h1>What is the Accessibility Research Lab (ARL)?</h1>


      
       
      <div class="layout layout--onecol">
        <div class="layout__region layout__region--content">
          <div class="block block--white-space vertical-space--1x">
          </div>
        </div>
      </div>
      
      <div class="layout layout--onecol">
        <div class="layout__region layout__region--content">
          <div class="block wwu-banner block--banner blue-overlay min-height--50vh">
            <div class="background-image">
            </div>
            <div class="body text-align-center double-padding standard-margin">
              <div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
                <h2 class="standard-padding--top">Welcome to the Accessibility Research Lab!</h2>
                <p class="standard-padding--left standard-padding--right">The Accessibility Research Lab integrates with Western Washington University (WWU) to collaboratively explore and design accessible and assistive technologies that will help ensure student success. Our research at the ARL aims to analyze problems, find solutions, and then implement solutions  to those problems. We work to implement solutions to help people of all abilities be successful in the ever-changing world of digital technologies and physical spaces. The ARL teams up with faculty, staff, and students at WWU and other institutions. We are a devoted and motivated community of partners, collaborators, and advocates from around the Western global community. We at ARL are proud to help contribute to fully equitable educational experiences. Equitable access to digital technologies and physical spaces are purposely designed for the success of all humans.</p>
              </div>
            </div>
          </div>
        </div>
      <!-- </div>

      <div class="layout layout--onecol">
        <div  class="layout__region layout__region--content">
          <div class="block block--white-space vertical-space--3x">
          </div>
        </div>
      </div>
          
      Two Column Section 1: Current and Future Projects
      <div class="layout--twocol-section layout--twocol-section--50-50">
        <div class="layout__region layout__region--first">
          <div class="blue-bg standard-padding standard-margin--bottom full-height align-center">
              <img src="/images/index/current_projects.jpg" alt="Person sitting at table sketching architecture in the Western art building">
              <a href="/CurrentProjects">
                <h2 class="text-align-center">Current Projects</h2>
              </a>
              <p class="text-align-center">See what the ARL is currently working on.</p>
          </div>
        </div>
        <div class="layout__region layout__region--second">
          <div class="blue-bg standard-padding standard-margin--bottom full-height align-center">
            <img src="/images/index/future_projects.jpg" alt="">
            <a href="/FutureProjects">
              <h2 class="text-align-center">Future Projects</h2>
            </a>
            <p class="text-align-center">Check out ARL's future plans!</p>
          </div>
        </div>
      </div>
    
      <div class="vertical-space--2x"></div>
      Two Column Section 2: Resources and Contact
      <div class="layout--twocol-section layout--twocol-section--50-50">
        <div class="layout__region layout__region--first">
          <div class="blue-bg standard-padding standard-margin--bottom full-height align-center">
              <img src="/images/index/resources.jpg" alt="Tablet on top of a stack of books on a desk.">
              <a href="/Resources">
                <h2 class="text-align-center">Resources</h2>
              </a>
              <p class="text-align-center">Getting started in digital technology accessibility can be challenging, which is why ARL has provided resources on the subject. We also share useful tools for accessible software and physical environments because accessibility standards extend across technologies.</p>
          </div>
        </div>
      -->

    </div> <!-- end region-wrapper -->
  </div> <!-- end page-content -->

</Layout>
