---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Home | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Accessibility Research Lab (ARL)</h1>
		<h2>The ARL Intent</h2>
		<p>The Accessibility Research Lab functions to provide an equitable learning and working environment for all humans</p>
		<p>Humans deserve equality. All humans deserve equitable rights to education.
</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>