---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Home | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Welcome to the Accessibility Research Lab!</h1>
		<p>The Accessibility Research Lab (ARL) unites with Western Washington University (WWU) to explore current accessible and assistive technologies to best ensure student success. Our research helps to fill in gaps regarding understanding what folks with disabilities experience while navigating campus life. The ARL works to implement solutions to help people with disabilities be successful in the ever-changing world of digital and physical technologies. The ARL teams up with faculty, staff, and students at WWU. We are a devoted community of partners, higher education institutions across the nation and world. We at ARL are proud to contribute toward equitable access to digital technologies and physical spaces for all humans. </p>
		<h2>Current Projects</h2>
		<p>See what ARL is currently working on!</p>
		<h2>Future Projects</h2>
		<p>Check out ARL's future plans!</p>
		<h2>Resources</h2>
		<p>Getting started in digital technology accessibility can be challenging, which is why ARL has provided resources on the subject. We also share useful tools for accessible software and physical environments because accessibility standards extend across technologies.</p>
		<h2>Contact</h2>
		<p>If you would like to contact individual members of the ARL staff, please visit our Leadership page. If you want to reach ARL directly, please fill out the form on the Contact page. We will reply as soon as possible.</p>
		<h2>How You Can Get Involved</h2>
		<p>When digital designers create accessible technology, it benefits people of all circumstances and backgrounds. Accessible design will help users explore your platform more efficiently, which results in increased website traffic. If you would like to volunteer for the ARL, please fill out the Contact form or visit our Leadership page for direct contact with our contributors.</p>
</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>