---
import Layout from "../layouts/layout.astro";
---

<Layout
title="Home | Accessibility Research Lab | Western Washington University">

<!-- beginning of the main element here according to layout.astro -->

<div class="page-content">
  <div class="region-wrapper max-width--content--sm">
    
    <h1 class="text-align-center">What is the Accessibility Research Lab (ARL)?</h1>
    <h2 class="text-align-center">Welcome to the Accessibility Research Lab!</h2>
    <p>The Accessibility Research Lab integrates with Western Washington University (WWU) to collaboratively explore and design accessible and assistive technologies that will help ensure student success. Our research at the ARL aims to analyze problems regarding accessibility on campus, find solutions, and then implement solutions  to those problems. We strive to implement solutions that people of all abilities will equitably be able to access. Our intent is to ensure that everyone is successful in the ever-changing world of digital technologies and physical spaces. The ARL teams up with faculty, staff, and students at WWU and other institutions. We are a devoted and motivated community of partners, collaborators, and advocates from around the Western global community. We at ARL are proud to help contribute to the creation of fully equitable educational experiences for humans of all abilities. Our designs for equitable access to digital technologies and physical spaces are purposely implemented for the success of all humans.</p>
    
    <!-- 
    Two Column Section 1: Current and Future Projects
    <div class="grid-column-count--2">      
    <div class="wwu-card blue-bg">
    <div class="image">
    <img src="/images/index/current_projects.jpg" alt="Person sitting at table sketching architecture in the Western art building">
    </div>
    
    
    <h2 class="title">
    <a href="/CurrentProjects">
    Current Projects
    </a>
    </h2>
    
    <div class="body">
    <p>See what the ARL is currently working on.</p>
    </div>
    </div>           
    
    <div class="wwu-card blue-bg">
    <div class="image">
    <img src="/images/index/future_projects.jpg" alt="">
    </div>
    
    <h2 class="title">
    <a href="/FutureProjects">Future Projects</a>
    </h2>
    
    <div class="body">
    <p>Check out ARL's future plans!</p>
    </div>
    
    </div>
    </div>
    
    Two Column Section 2: Resources and Contact
    <div class="grid-column-count--2">            
    <div class="wwu-card blue-bg">
    <div class="image">
    <img src="/images/index/resources.jpg" alt="Tablet on top of a stack of books on a desk.">
    </div>
    
    <h2>
    <a href="/Resources">Resources</a>
    </h2>
    
    <div class="body">
    <p>Getting started in digital technology accessibility can be challenging, which is why ARL has provided resources on the subject. We also share useful tools for accessible software and physical environments because accessibility standards extend across technologies.</p>
    </div>
    </div>
    </div>
    
    -->
    
    
    
  </div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</Layout>
