---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Leadership | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Leadership</h1>
		<h2>Meet the ARL Team!</h2>
		<h3>David Engebretson Jr - Digital Technologies Accessibility Coordinator</h3>
		<h3>Dustin O'Hara - Director, Internet Studies Center</h3>
		<h3>Yasmine Elglaly - Assistant Professor</h3>

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>