---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Leadership | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Accessibility Research Lab (ARL) Leadership</h1>
		<h2>What The ARL Does</h2>
		<p>The Accessibility Research Lab functions to provide an equitable learning and working environment for all humans</p>

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>