---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Mission | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

				<h1 class="page-title">
					<span>Mission</span>
				  </h1>
				  
				  <div about="/mission" class="node--type-page node--view-mode-full">
					<div>
					  <div class="layout layout--onecol">
						<div class="layout__region layout__region--content">
						  <div class="block block--beyond-basics-block wwu-beyond-basics-block font-size--regular">
							<h2 class="title">Accessibility Research Lab (ARL) Mission Statement</h2>
							<div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
							  <p>Our mission at the Accessibility Research Lab (ARL) is to prepare Western Washington University (WWU) students with leadership and problem-solving skills. We facilitate a supportive WWU community by providing accessible digital design principles so that all people can enjoy what technology has to offer. The human principle of empathy and the talent of innovation motivates us to implement accessible design.</p>
							</div>
						  </div>
						  <div class="block block--beyond-basics-block wwu-beyond-basics-block">
							<h2 class="title">The Accessible World of Tomorrow</h2>
							<div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
							  <p>Western Washington University takes pride in student achievements. Divisions, departments, Faculty and staff alike want to see students graduate with success. ready to take on the workforce or a master's program successfully. Western must prepare students for student career journeys by equipping them with accessible design principles and skills that are so desperately needed in the work-force today. Accessible Design is one of the most sought after skillsets, and there is no time like the present to implement accessibility training into Western's core curriculum. Imagine a world where everyone has equal access to vital digital technologies. The WWU community is proud to be on this accessibility journey.</p>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="layout layout--twocol-section layout--twocol-section--50-50">
						<div class="layout__region layout__region--first">
						  <div class="block block--white-space vertical-space--3x"></div>
						  <div class="block block--basic">
							<div class="align-center">
							  <div class="field field--name-field-media-image field--type-image field--label-hidden field-item">
								<img src="/images/mission/mission_statement.jpg" width="4000" height="6000" alt="in a busy office work space, a person works on a computer that reads"/>
							  </div>
							</div>
						  </div>
						  <div class="block block--white-space vertical-space--3x"></div>
						</div>
						<div class="layout__region layout__region--second">
						  <div class="block block--basic">
							<h2 class="title">ARL Contributes Accessible Design Strategies</h2>
							<div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
							  <p>Just as navigating a poorly designed website can be frustrating, so can figuring out accessibility standards. The world-wide web consortium contains guidelines that may seem intimidating and difficult to digest. We here at ARL understand how daunting the task of implementing accessible design can be. That's why we have provided simple and concise training materials along with presentations that feature accessible design for:</p>
							  <ul>
								<li><strong>Curriculum (Class content)</strong></li>
								<li><strong>Digital Communications (Online communication tools)</strong></li>
								<li><strong>Wayfinding (Navigating physical spaces)</strong></li>
								<li><strong>Purchasing of Assets (WWU product purchases; e.g., textbooks or software)</strong></li>
							  </ul>
							</div>
						  </div>
						  <div class="block block--beyond-basics-block wwu-beyond-basics-block">
							<h2 class="title">Pride in Accessibility Work</h2>
							<div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
							  <p>The ARL is proud of its longstanding commitment to equal access of digital technologies for all humankind. We foster positive and productive communication with the global Western community by sharing our resources and enhancing awareness of the need for accessible design in all societal aspects around the world.</p>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>