---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Mission | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
			<div class="region-wrapper">

		<h1>Mission</h1>
		<h2>Accessibility Research Lab (ARL) Mission Statement</h2>
		<p>Our mission at the Accessibility Research Lab (ARL) is to prepare Western Washington University (WWU) students with leadership and problem-solving skills. We facilitate a supportive WWU community by providing accessible digital design principles so that all people can enjoy what technology has to offer. The human principle of empathy and the talent of innovation motivates us to implement accessible design.</p>
		<h2>The Accessible World of Tomorrow</h2>
		<p>WWU takes pride in their students' achievements. Departments and staff alike want to see students graduate ready to take on the workforce or a master's program. We must prepare students for their career journeys by equipping them with the accessible design principles and skills that are so desperately needed in our diverse world today. Accessible Design is the way of the future, but there is no time like the present to implement accessibility training into Western's core curriculum. Just imagine a world where everyone has equal access to vital technologies! The WWU community is proud to be on this accessibility journey.</p>
		<h2>ARL Contributes Accessible Design Strategies</h2>
		<p>Just as navigating a poorly designed website can be frustrating, so can figuring out accessibility standards. The world-wide web consortium contains guidelines that may seem intimidating and difficult to digest. We here at ARL understand how daunting the task of implementing accessible design can be. That's why we have provided simple and concise training materials along with presentations that feature accessible design for:</p>
		<ul>
			<li>Curriculum (Class content)</li>
			<li>Digital Communications (Online communication tools)</li>
			<li>Wayfinding (Navigating physical spaces)</li>
			<li>Purchasing of Assets (WWU product purchases; e.g., textbooks or software)</li>
		</ul>
		<h2>Pride in Accessibility Work</h2>
		<p>The ARL is proud of its longstanding commitment to equal access of digital technologies for all humankind. We foster positive and productive communication with the global Western community by sharing our resources and enhancing awareness of the need for accessible design in all societal aspects around the world.</p>

</div> <!-- end region-wrapper -->
</div> <!-- end page-content -->

</layout>