	---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Alpha Testing | Accessibility Research Lab | Western Washington University">

  <!-- beginning of the main element 
    -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Alpha Testing</h1>
			<div class="layout layout--onecol ">
				<div class="layout__region">
					<h2>Alpha Testing Projects</h2>
<p>The ARL has some projects that need Alpha testing. Want to test? Send your contact information to <a href="mailto:engebrd2@wwu.edu">David Engebretson.</a></p>					


<!--
 
<h3>Projects to Alpha Test</h3>
					<ul>
						<li><a href="./EART">Efficient Accessibility Review Tool</a></li>
						<li><a href="./AVE">dAVidE Accessible Video Editor</a></li>
						<li><a href="./DTAG">Descriptive Alt Text Generator</a></li>
						<wwu-accordion>
						<wwu-accordion-item label="Sehome Hill Arboretum" heading-level="h3">
						<li><a href="./Arboretum">Sehome Hill Arboretum Accessible Mapping and More</a></li>
						<p>There are many projects to work on in the Sehome Hill Arboretum.</p>
</wwu-accordion-item>
</wwu-accordion>
					</ul>
				</div>
			</div>
		-->

		</div> <!-- end region-wrapper -->

	</div> <!-- end page-content -->

</layout>