---
import Layout from "../layouts/layout.astro";
---
<Layout
  title="Resources | Accessibility Research Lab | Western Washington University">

	<div class="page-content">
		<div class="region-wrapper">
			<h1 class="page-title">Resources</h1>
			<div class="layout layout--onecol">
				<h2>Accessibility Resources at Western</h2>
				<h3>Accessibility Guides</h3>
				<ul>
					<li><a href="https://brand.wwu.edu/accessibility/documents">Creating Accessible Documents</a></li>
					<li><a href="https://brand.wwu.edu/email#a11y">Writing Accessible Emails</a></li>
					<li><a href="https://brand.wwu.edu/accessibility/social-media">Creating Accessible Social Media Content</a></li>
					<li><a href="https://brand.wwu.edu/accessibility/guide">Searchable Web Accessibility Guide</a></li>
				</ul>
				<h3>Free Canvas Trainings</h3>
				<ul>
					<li><a href="https://brand.wwu.edu/accessibility/standard-training">Standard Accessibility Training</a>
						introduces the basics of creating accessible web content and documents.
					</li>
					<li>
						<a href="https://brand.wwu.edu/accessibility/advanced-training">Advanced Accessibility Training</a>
						covers topics like the Document Object Model, HTML/CSS, JavaScript, and Accessible Rich Internet Applications.
					</li>
				</ul>
				<h3>Siteimprove</h3>
				<p>
					Western offers access to <a href="https://brand.wwu.edu/siteimprove">Siteimprove</a>, a tool that can help you by evaluating your website and flagging accessibility issues like confusing links, out-of-order heading levels, and missing video captions.
				</p>
				<h3>More Questions?</h3>
				<p>You can also contact Western's resident experts for help:</p>
				<ul>
					<li><a href="https://www.wwu.edu/gerardc">Carly Gerard</a>
						, Web Accessibility Engineer
					</li>
					<li><a href="https://www.wwu.edu/engebrd2">David Engebretson</a>
						, Digital Technologies Accessibility Coordinator
					</li>
				</ul>
				<h2>WCAG 2.1 and More Resources</h2>
				<p>The <a href="https://www.w3.org/">World Wide Web Consortium (W3C)</a> maintains international standards for web development. These standards include <a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1</a>, a set of standards specifically to ensure web content is accessible.&nbsp;</p>
				<p>W3C also offers a fantastic set of resources on creating accessible web content as part of its <a href="https://www.w3.org/WAI/">Web Accessibility Initiative</a>. This includes resources for:&nbsp;</p>
				<ul>
					<li><a href="https://www.w3.org/WAI/roles/writers/">Content Writers</a></li>
					<li><a href="https://www.w3.org/WAI/roles/designers/">Designers</a></li>
					<li><a href="https://www.w3.org/WAI/roles/developers/">Developers</a></li>
					<li><a href="https://www.w3.org/WAI/roles/trainers/">Trainers and Educators</a></li>
				</ul>
				<p>The nonprofit <a href="https://www.webaim.org">WebAIM</a> also has useful checklists, cheat sheets, and tools for making digital content accessible.</p>
				<h2>Accessibility Beyond the Web</h2>
				<p>The <a href="https://www.ahead.org">Association on Higher Education and Disability (AHEAD)</a> is a professional membership association that centers on making higher education accessible.</p>
				<p><a href="https://teachaccess.org/">Teach Access</a> is a nonprofit working to close the accessible technology skills gap at universities and corporations.</p>
				<p><a href="https://www.ada.gov/">ADA.gov</a> contains a wealth of resources on what makes physical spaces accessible.</p>
			</div>
		</div> <!-- end region-wrapper -->

	</div> <!-- end page-content -->

</layout>